<div class="card mb-4" *ngIf="book">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-right"
        alt="Picture of 1 to 5 cats"
        src="https://api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge badge-secondary">{{ book.rating }}</span>
      </h2>
    </div>
    <p>{{ book.description }}</p>

    <button [disabled]="book.rating <= 1" (click)="doRateDown()" class="btn btn-primary mr-2">-</button>
    <button [disabled]="book.rating >= 5" (click)="doRateUp()" class="btn btn-primary">+</button>

    {{ log() }}
  </div>
</div>
