<div class="card mb-4" *ngIf="book">
  <div class="card-body bg-light">
      <img
        *ngFor="let t of book.thumbnails"
        class="img-thumbnail float-right"
        alt="{{ t.title }} of book '{{ book.title }}'"
        title="{{ t.title }} of book '{{ book.title }}'"
        [src]="t.url"
        width="150">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge badge-secondary">{{ book.rating }}</span>
      </h2>
    </div>
    <p>{{ book.description }}</p>

    <button [disabled]="book.rating! <= 1" (click)="doRateDown()" class="btn btn-primary mr-2">-</button>
    <button [disabled]="book.rating! >= 5" (click)="doRateUp()" class="btn btn-primary">+</button>

    <a
      [routerLink]="['/books', book.isbn]"
      class="btn btn-primary ml-2"
    >Details</a>

    {{ log() }}
  </div>
</div>
